<%= render 'shared/page_title', title: "Showing all chefs" %>
<div align = "center">
<%= will_paginate%>
    <% @chefs.each do |chef| %>
        <ul class = "listing">
            <div class="row">
                <div class= "col-md-4 col-md-offset-4">
                    <li><%= chef.chef_name.capitalize %></li>
                    <li class= "chef_title"><%= link_to chef.chef_name.capitalize, chef_path(chef)%></li>
                    <li><small><%= pluralize(chef.recipes.count, "recipe")if chef.recipes %></small></li>
                    <li><%= link_to "Delete the chef", chef_path(chef), method: :delete,
                                    data: {confirm: "Are you sure you want to delete"}%><li>
                </div>
            </div>
        </ul>
    <% end %>
    <%= will_paginate%>
</div>